{ns     tlon.core.organization
 import #{tlon.core.fhir}

 Organization
 {:zen/tags #{tlon.core.fhir/profile zen/schema}
  :zen/desc "Basic profile for Tlon organization"
  :confirms #{tlon.core.fhir/Organization}
  :type     zen/map
  :require #{:member}

  :keys
  {:member {:type zen/vector
            :every {:type zen/string}}}}}
