{ns     tlon.core.patient
 import #{tlon.core.fhir}


 race
 {:zen/tags #{zen/schema }
  :type     zen/map
  :require #{:text}
  :keys
  {:ombCategory {:type     zen/vector
                 :maxItems 5
                 :every    {:confirms #{tlon.core.fhir/Coding}}}
   :text {:type zen/string}}}

 Patient
 {:zen/tags #{tlon.core.fhir/profile zen/schema}
  :zen/desc "Basic profile for Tlon patient"
  :zen.fhir/version "0.5.11"
  :zen.fhir/profileUri "https://hs/tlon"
  :confirms #{tlon.core.fhir/Patient}
  :type     zen/map
  :require  #{:gender}

  :keys
  {:race
   {:confirms   #{race}
    :fhir/extensionUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-race"
    :fhir/flags #{:MS}}

   :identifier
   {:type zen/vector
    :minItems   1
    :fhir/flags #{:MS}
    :every {:type    zen/map
            :require #{:system :value}
            :keys {:system {:fhir/flags #{:MS}}
                   :value  {:fhir/flags #{:MS}}}}}
   :gender
   {:fhir/flags #{:MS}}

   :communication
   {:type zen/vector
    :every {:type zen/map
            :keys {}}}}}}
